{; probbaly only supports Linux on CPU
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.scicloj/noj {:mvn/version "2-beta18"}
        org.uncomplicate/diamond-onnxrt {:mvn/version "0.21.0"}
        org.bytedeco/onnxruntime-platform-gpu {:mvn/version "1.23.2-1.5.13-20251201.110731-1"}
        org.uncomplicate/deep-diamond-cuda {:mvn/version "0.42.0"}
        org.bytedeco/cuda-redist$linux-x86_64 {:mvn/version "13.0-9.14-1.5.13-20251022.164318-20"}
        org.bytedeco/cuda-redist-cublas$linux-x86_64 {:mvn/version "13.0-9.14-1.5.13-20251022.164348-20"}
        org.bytedeco/cuda-redist-cudnn$linux-x86_64 {:mvn/version "13.0-9.14-1.5.13-20251022.164345-20"} 


        io.github.clojure/tools.build {:mvn/version "0.10.11"}
        org.json/json {:mvn/version "20250517"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        ai.djl.huggingface/tokenizers {:mvn/version "0.34.0"}
        generateme/fastmath {:mvn/version "3.0.0-alpha4"}}


 :paths ["src" "notebooks" "classes" "resources"]
 :mvn/repos {"maven-central-snapshots" {:url "https://central.sonatype.com/repository/maven-snapshots"
                                        :snapshots {:enabled true}}
             "nexus snapshots"         {:url "https://oss.sonatype.org/content/repositories/snapshots"
                                        :snapshots {:enabled true}}}



 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :linux
  {:jvm-opts ["-Dclojure.compiler.direct-linking=true" "--enable-native-access=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}